<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Kit Calculator</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../public/js/script.js"></script>
</head>
<body>
    <div class="form-container">
        <h1>Solar Kit Calculator</h1>
        
        <label for="dailyConsumption"><b>Daily Consumption (kWh):</b></label>
        <input type="number" id="dailyConsumption" placeholder="Enter daily  consumption">

        <label for="sunlightHours"><b>Sunlight Hours:</b></label>
        <input type="number" id="sunlightHours" placeholder="Enter sunlight hours">

        <label for="modulePower"><b>Module Power (W):</b></label>
        <input type="number" id="modulePower" placeholder="Enter module power in watts">

        <label for="inverterPower"><b>Inverter Power (kW):</b></label>
        <input type="number" id="inverterPower" placeholder="Enter inverter power in kW">

        <label for="numberInverters"><b>Number of Inverters Desired:</b></label>
        <input type="number" id="numberInverters" placeholder="Enter desired number of inverters">

        <label for="inverterType"><b>Inverter Type:</b></label>
        <select id="inverterType">
            <option value="ongrid">On-Grid (No Battery)</option>
            <option value="offgrid">Off-Grid (With Battery)</option>
        </select>

        <button id="calculate"><b>Calculate</b></button>

        <div id="results">
            <b>
                <h2>Results:</h2>
                <p>Number of Modules: <span id="modules"></span> (<span id="modulePowerResult"></span>)</p>
                <p>Battery Capacity (kWh): <span id="batteries"></span></p>
                <p>Number of Inverters: <span id="inverters"></span> (<span id="inverterPowerResult"></span>)</p>
                <p>Total Inverter Capacity (kW): <span id="totalInverterCapacity"></span></p>
            </b>
        </div>
    </div>
</body>
</html>